*{
    padding-top: 0px;
    margin-top: 0px;
}
body{
    background-color: rgb(253, 251, 251);
}
#cabecalho{
    width: auto;
    position: fixed;
    text-align: center;
}
#titulo{
    text-align: center;
}
table{
    border: dotted;
    margin-top: 15px;
}