*{
    text-decoration: none;
    list-style: none;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 30px;
    color: rgb(4, 61, 29);
    letter-spacing: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: rgb(253, 251, 251);
}
#cabecalho{
    background-color: rgba(105, 170, 200, 0.685);
    width: auto;
    position: fixed;
    text-align: center;
    font-size: 45px;
    width: 100%;
}
#titulo{
    text-align: center;
}
#rodape{margin-top: 20px;
    border: dotted;
    margin: auto;
    text-align: center;
}
table{
    border: dotted;
    margin-top: 15px;
    padding: 30px;
    
}
h1{
    padding-top: 15px;
}
.text-trybe{
    height: 402px;
}
.lado-direito{
    border: dotted;
    float: left;
    width: 45%;
    height: inherit;

}
.lado-esquerdo{
    float: right;
    width: 45%;
    height: inherit;
    border: dotted;
}