        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: rgb(253,251,251);
            font-family: Helvetica, sans-serif;
            letter-spacing: 1.5px;
            font-size: 1em;
            line-height: 1;
        }

        header {
            position: fixed;
            top: 0px;
            background: #228062;
            width: 100%;
            text-align: center;
            padding: 30px;
        }

        nav {
            position: fixed;
            top: 90px;
            background-color: #46925A;
            width: 100%;
            padding: 5px;
            margin-bottom: 30px;
            border-bottom: 3px solid black;
            border-top: 3px solid black;
            
        }

        nav ul li {
            display:inline-block;
            font-size: 20px;
            margin-right: 25px;
            font-style: bold;
            color: #2C0B0B;
        }

        nav ul li a {
            text-decoration: none;
        }

        nav ul li a:hover {
            text-decoration: underline;
        }

        .header-space {
            margin-bottom: 150px;
        }

        .foto-perfil {
            margin-left: 30px;
            float: left;
            margin-bottom: 10px;
        }

        img {
            border-radius: 20%;
        }

        .lessons-learned {
            float: left;
            margin-left: 100px;
            width: 250px;
            height: 250px;
            
        }

        .lessons-to-learn {
            float: right;
            margin-left: 0px;
            margin-right: 100px;
            width: 250px;
            height: 250px;
        }

        .lessons-to-learn, .lessons-learned {
            border-radius: 70px;
            padding: 40px;
            background-color: #195D84;
            color: white;   
        }

        h2 {
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 20px;
            text-align: center;
            color: #B6AE45;
        }

        h3 {
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 20px;
            text-align: center;
            color: #B6AE45;
        }

        ul, ol {
            margin-left: 20px;
            font-size: 17px;
        }

        footer {
            clear: both;
            text-align: center;
            margin-top: 10px;
        }

        article, aside {
            border-radius: 70px;
            padding: 40px;
            background-color: #195D84;
            color: white;
            
        }

        p {
            font-family: 'Marck Script';
            font-size: 23px;
            line-height: 30px;
        }

        aside p {
            font-size: 19px;
        }

        p a:hover {
            
            background-color:#228062;
            color: white;
        }

        hr {
            clear:both;
            color:black;
            border: 0;
            height: 2px;
            background-image: linear-gradient(to right, transparent, black, transparent);
            height: 5px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        table {
            border: 4px solid black;
            background-color: #195D84;
            text-align: center;
            margin: auto;
        }

        table th {
            border-collapse: collapse;
            border: 4px solid black;
            padding: 5px;
            font-size: 20px;
            color:  white;
        }

       table td {
            border-collapse: collapse;
            border: 4px solid black;
            padding: 5px;
            font-style: italic;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
        }

        .lado-esquerdo {
            float: left;
            max-width: 40%;
            margin-left: 30px;
            margin-bottom: 10px;
        }

        .lado-direito {
            float: right;
            max-width: 40%;
            margin-right: 30px;
        }