@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
  background-color: rgb(253, 251, 251);
  left: 0px;
}

#cabecalho {
  max-height: 110px;
  width: 100%;
  top: 0px;
  background-color: forestgreen;
  color: white;
  text-align: center;
  position: fixed;
  left: 0px;
  box-shadow: 0px 0px 5px 5px black; 
}

#titulo {
  font-family: 'Courgette', cursive;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 4px 4px #001a00;
}

#minha_foto {
margin-top: 115px;
width: 300px;
border-radius: 10px;
padding: 0px;
border: 0px;
}

#licoes_aprendidas{
  font-weight: bold;
  font-size: 20px;
  float: left;
  margin-left: 30%;
}

#licoes_a_aprender{
  font-weight: bold;
  font-size: 20px;
  float: right;
  margin-right: 30%;
}

#rodape {
  text-align: center;
  background-color: gray;
  color: white;
  clear: both;
}

.artigo-sobre-aprendizado{
font-weight: bold;
font-size: 18px;
line-height: 30px;
float: left;
}

.aside{
  width: 150px;
  font-weight: bold;
  font-style: italic;
  float: right;
}

.linkexterno{
  clear: both;
}

.listasection{
  clear: both;
}