
body {
  background-color: rgb(253 , 251 , 251);
  margin: 0px;
  padding: 0px;
  font-size: 1.2em;
}
#minha_foto {
  width: 200px;
  margin: 200px 0px 20px 20px;
  border-radius: 30%;
}
#cabecalho {
  position: fixed;
  top: 0px;
  background-color: #183042;
  width: 100%;
}
#titulo {
  color: #498e8d;
  font-family: 'Fondamento', cursive;
  font-size: 40px;
}
#rodape {
  background-color: #183042;
}
.listas {
  display: flex;
  border: 5px groove #498e8d;
  width: 500px;
}
#licoes_aprendidas {
  margin-right: 100px;
}
.article1 {
  line-height: 20px;
}
#table {
  border: 1px solid black;
}
