body {
  background-color: rgb(253, 251, 251);
  font-size: 12px;
  color: rgb(25, 25, 25);
  line-height: 1.6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.my-header {
  position: fixed;
  top: 0;
  background-color: rgb(4, 189, 250);
  width: 100%;
}

.my-photo {
  padding-top: 150px;
}

.learned-lessons ol {
  font-size: 14px;
  color: rgb(0, 0, 200);
  line-height: 1.7;
  font-family: Arial, Helvetica, sans-serif;
}

.learned-lessons h3 {
  font-size: 20px;
  color: rgb(0, 0, 200);
  font-family: Arial, Helvetica, sans-serif;
}

.lessons-to-learn ul {
  font-size: 14px;
  color: rgb(39, 39, 39);
  line-height: 1.7;
  font-family: Cambria, Cochin, Georgia, Times, serif;
}

.lessons-to-learn h3 {
  font-size: 20px;
  color: rgb(39, 39, 39);
  font-family: Cambria, Cochin, Georgia, Times, serif;
}

.my-articles-wrap p {
  font-size: 16px;
  color: rgb(30, 30, 30);
  line-height: 1.7;
  font-family: Arial, Helvetica, sans-serif;
}

.my-articles-wrap h3 {
  font-size: 20px;
  color: rgb(30, 30, 30);
  font-family: Arial, Helvetica, sans-serif;
}

.lado-esquerdo {
  float: left;
  width: 45%;
  border-width: medium;
  border-style: solid;
  padding-left: 5px;
}

.lado-direito {
  float: right;
  width: 45%;
  border-width: medium;
  border-style: solid;
  padding-left: 5px;
}

.my-block {
  clear: both;
  font-size: 20px;
  padding-top: 20px;
  color: rgb(20, 20, 20);
}

.my-table table, th, td {
  border: 1px solid black;
  text-align: center;
}

.my-table th, td {
  padding: 10px;
}

.my-table table {
  border-collapse: collapse;
  margin-left: 10px;
}
.my-column {
  color: rgb(255,255,255);
  background: rgb(0, 0, 0);
}

.my-footer {
  font-size: 12px;
  color: rgb(39, 39, 39);
  font-family: Cambria, Cochin, Georgia, Times, serif;
}
