@charset "UTF-8";

body {
  background-color: rgb(253 , 251 , 251 );  
  color: rgb(26, 27, 88);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 20px;
  letter-spacing: ;
} 
#cabecalho {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color:rgb(253 , 251 , 251 );   
  margin: 15px
}

article{
    font-family: Helvetica, sans-serif;
    color: rgb(187, 36, 36);
    text-align: center;
    text-indent: 50px;
    font-style: oblique;
    /*letter-spacing: 4px;*/
}
#minha_foto {
  position: fixed;
  top: 0px;
  right: 0px;
}

ul { 
     font-family: Arial, Helvetica, sans-serif;
     text-align: left;
  margin: 10px;
  padding: 20px;
}

ol {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 10px;
  padding: 20px;
}
p { 
  font-size: larger;  
  color: rgb(26, 27, 88);
}

