
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap');

body {
	background-color: rgb(253 , 251 , 251);
}

* {
	font-family: Arial , Helvetica , sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0px;
  height: 177px;
  width: 1366px;
  background-color: #94BFDF;
}

#cabecalho h1 {
  text-align: center;
  font-family: 'Grenze Gotisch' , cursive;
  font-weight: normal;
  color: #25374D;
}

.container {
  margin-top: 200px;
  width: 1366px;
}

.container h2 {
  width: 1366px;
  background-color: #94BFDF;
  padding: 8px;
  color: #22798C;
}

.navegacao ul {
  list-style-type: none;
  text-transform: uppercase;
  display: block;
  width: fit-content;
  position: fixed;
  top: 121px;
  right: 300px;
}

.navegacao li {
  display: inline-block;
  background-color: #22798C;
  padding: 10px;
  margin: 2px;
  transition: background-color 1s;
}

.navegacao li:hover {
  background-color: #85D2DA;
}

.navegacao a {
  text-decoration: none;
  color: white;
}

.navegacao a:hover {
  color: #25374D;
}

#minha_foto {
  width: 300px;
  border-radius: 100%;
  margin-left: 500px;
}

table {
  border: 1px solid #22798C;
}

table td.ce {
  color: #ffffff;
  background-color: #22798C;
  vertical-align: middle;
  font-weight: bold;
  padding: 10px;
}

table td.cd {
  background-color: #94BFDF;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}

.sessoes {
  width: 1366px;
}

.sessoes p {
  line-height: 30px;
  font-size: 12pt;
}

.listas li {
  line-height: 30px;
  font-size: 12pt;
}

.lado-esquerdo {
  display: block;
  position: relative;
  float: left;
  width: 800px;
  border-right: 1px solid #22798C;
  margin-top: 0px;
}

.lado-esquerdo h2 {
  width: 784px;
}

.lado-esquerdo p {
  text-align: justify;
  text-indent: 30px;
  padding-right: 10px;
}

.lado-direito {
  display: block;
  position: relative;
  float: right;
  width: 560px;
}

.lado-direito h2 {
  width: 560px;
  margin-left: 0px;
  margin-left: -5px;
}

.lado-direito p {
  text-align: justify;
  text-indent: 30px;
}

#rodape {
  border-top: 1px solid #22798C;
  clear: both;
}

#rodape p {
  margin: auto 10px;
  text-align: center;
  line-height: 30px;
}
