body {
  background-color: rgb(253,251,251);
  width: 100%;
  
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  color: rgb(190,190,190);
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 2.5em;
}

* {
  font-family: sans-serif;
}

main {
  font-size: 15px;
}

h2 {
  font-size: 30px;
}

.conteudo-principal {
  margin-top: 180px;
}

.conteudo-principal p {
  line-height: 1.5;
}

img {
  width: 300px;
  top: 210px;
  border-radius: 100%;
  border: solid;
}

a {
  display: block;
  
  text-decoration: none;
  text-decoration: black;
}

.lado-esquerdo {
  float: left;
  width: 50%
}

.lado-direito {
  float: right;
  width: 50%;
}

footer {
  display: flex;
  clear: both;
  bottom: 0;
  left: 0;
  position: relative;
  justify-content: center;
  padding: 10px;
  background-color: rgb(0,106,79);
  color: rgb(250,250,250);
}

footer p {
  padding: inherit;
}

.icones-redes-socias li {
  display: inline-block
}

.icones-redes-socias a {
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -99999px;
}

.github {
  background-image: url(/images/github-34px.png);
  background-repeat: no-repeat;
}

.linkedin {
  background-image: url(/images/linkedin-32px.png);
  background-repeat: no-repeat;
}

.twitter {
  background-image: url(/images/twitter-32px.png);
  background-repeat: no-repeat;
}