body {
  background-color: rgb(253 , 251 , 251);
  font-size: 1.2em;
}

.cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(186 , 199 , 190);
}

.foto {
  position: fixed;
  top: 30px;
  right: 30px;
}

.nav {
  position: fixed;
  top: 100px;
  background-color: rgb(186 , 199 , 190);
  color: rgb(81 , 102 , 84);
  font-family: Georgia, serif;
}

table , th , td {
  margin: 10px;
  border: 2px solid rgb(119 , 132 , 114);
}

th , td {
  text-align: center;
  padding: 5px;
}

.artigo-principal {
  line-height: 1.5;
}

.todas-as-licoes {
  font-size: 0.7em;
}

.balancada {
  clear: both;
}

.lado-esquerdo {
  float: left;
  width: 60%;
}

.lado-direito {
  float: right;
  width: 30%;
  display: inline-block;
}

.lado-esquerdo , .lado-direito {
  margin-top: 220px;
}

.aside {
  list-style: none;
}