/*Requisito 1*/
body {
  background-color: rgb(253, 251, 251);
}
/*Requisito 2*/
#cabecalho {
  position: fixed;
  top: 0px;
  left: 20px;
  right: 20px;
  bottom: 800px;
  color: whitesmoke;
  background-color: green;
}
/*Requisito 3*/
#titulo {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 2000;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  color: whitesmoke;
}
/*Requisito 4*/
#minha_foto {
    position: relative;
    top: 120px;
    left: 30px;
}

