/* Configurações de letra geral */

* {
  font-family: Helvetica, sans-serif;
}

article p 
  line-height: 1.5em;
}

aside p {
  line-height: 1.5em;
}

h1 {
  color: rgb(211, 211, 211);
}

h2, h3, h4, h5 {
  color: rgb(41 , 41 , 41);
}

/* Configurações de layout */

body {
  background-color: rgb(253 , 251 , 251);
}

#cabecalho {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: inline-block;
  width: 100%;
}

header {
  text-align: center;
}

header {
  background-color: rgba(22, 22, 22, 0.801);
}

nav {
  display: inline-block;
  position: relative;
  width: 100%;
}
.nav-icons {
  height: 30px;
  margin: 0px 5%;
}
.nav-icons{
  filter: invert(5);
}

.list-section{
  width: 100%;
  height: 250px;
  margin-top: 15%;

  background-image: URL(images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.list-selection-left {
  float: left;
  width: 30%;
}

.list-selection-center {
  display: inline-block;
  margin: 15px 0px 5px 55px;
}

.list-selection-right {
  float: right;
  width: 30%;
  height: 100%;
}

.list-selection-left, .list-selection-right {
  background-color: rgba(0, 0, 0, 0.50);
  border-radius: 5%;
  border-style: solid;
  border-color: rgb(0, 0, 134);
}

.list-selection-left li, .list-selection-right li{
  color: white;
}

#minha_foto {
  border-radius: 100%;
  width: 250px;
}

.artigos {
  width: 100%;
  clear: both;
  margin-top: 10%;
}

.lado-esquerdo {
  display: inline-block;
  float: left;
  width: 60%;
  position: relative;
  left: 20px;
}

.lado-direito {
  display: inline-block;
  float: right;
  width: 20%;
  position: relative;
  margin-left: auto;
  left: -80px;
  top: 40px;
}

.lado-esquerdo h2 {
  text-align: center;
}

.lado-esquerdo p {
  font-size: 1em;
  line-height: 1.8em;
}

.lado-direito h3 {
  text-align: center;
  font-size: 1em;
}

.lado-direito p {
  font-size: 0.8em;
}

#rodape {
  clear: both;
}


