body {
    background-color:  rgb(253 , 251 , 251);
    font-family:  'Roboto', sans-serif;
    font-size:  16px;
    margin-left:  0;
}

#cabecalho {
    width:  100%;
    height:  10%;
    top:  0;
    position:  fixed;
    color:  #131616;
    text-align:  center;
    background-color:  #52298e;
}

#titulo {
    color:  ghostwhite;
}

nav {
    word-spacing:  25px;
    width:  100%;
    margin:  15px 0;
    padding:  15px 0;
    border:  15px;
    background-color:  #8251cd;
}

a {
    color:  black;
}

a:hover {
    text-decoration:  wavy;
    background-color:  #b450f7;
    border-radius:  8px;
}

#minha_foto {
    width:  250px;
    margin-top:  125px;
    margin-left:  50px;
    border-radius:  25%;
}

.listas {
    width:  80%;
    height:  250px;
    display:  inline;
    margin-left:  25px;
}

.lado-esquerdo {
    max-width:  250px;
    margin-left:  25px;
}

.lado-direito {
    max-width:  250px;
    margin-top:  390px;
    margin-right:  800px;
    float:  right;
}

aside {
    float:  right;
    width:  40%;
    height:  100px;
    padding-top:  20px;
    border-top:  20px;
    margin-top:  20px;
}

#artigo-texto {
    width:  50%;
    padding:  10px;
    border:  20px;
    margin:  20px;
    line-height:  normal;
    margin-left:  25px;
}

#rodape {
    text-align:  center;
    clear:  both;
    bottom:  0;
    width:  100%;
}
