body {  
    margin: 0;  
    padding: 0;  
    border: 0; 
    overflow-x: hidden;
    background-color: rgb(253, 251, 251);
 }

 .container {
     width: 90%;
     margin: auto;
 }

 /* Menu */
 .menu-fixed {
     position: fixed;
     margin-top: 0px;
     background-color: #333533;
     width: 100%;
 }

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #F5CB5C;
}

 .menu-fixed h1 {
    float: left;
    margin-left: 50px;
 }

 .btn-menu {
    list-style:none; 
    float: right;
    margin-right: 50px;
 }

 .btn-menu li {
    position:relative; 
    float: left;
    margin-left: 50px;
    background-color: #E8EDDF;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn-menu li a {
    color:#242423; 
    text-decoration:none; 
    display:block;}
 }



 /* End menu */

 /* Fonts */

h2 {
    font-size: 25x;
    color: #CFDBD5;
}

p {
    color: #E8EDDF;
    line-height: 1.5;
    font-size: 15px;
}

 /* End fonts */

 img.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 100px;
    border: 3px solid #F5CB5C;
 }

 .list-wrapper {

 }

 .lessons-learned {

 }

 .lessons-to-learned {

}

/* Articles */

.article-aside-wrapper {

}

.article {
    float: left;
    margin: auto;
}

.aside {
    float: right;
    margin: auto;
}

.article p {
    max-width: 600px;
}

.aside p {
    max-width: 200px;
    margin-right: 20%;
}

/* End articles */

table {
    clear: both;
}

/* Footer */

.copyright {

}

/* End footer */